# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.FB.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\DoD\FB\.idea\.idea.FB\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
